# Build directories
build/


# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.swp

# Environment / secrets
.env
.env.*

# Logs
*.log

# CMake / Make
CMakeFiles/

Makefile
cmake_install.cmake
*.cmake
*.o
*.a
*.so
*.dll
*.exe
*.out

#zips
*.zip

#random files
colorPallet.txt