[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
[submodule "external/ImGuiFileDialog"]
	path = external/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "external/external/ImGuiDatePicker"]
	path = external/external/ImGuiDatePicker
	url = https://github.com/DnA-IntRicate/ImGuiDatePicker
